<ion-tabs class="tabs-icon-left  tabs-color-assertive">

  <ion-tab title="Mapa" icon-off="ion-location" icon-on="ion-location" href="#/chamadocadastro/tab_map">
    <ion-nav-view name="tab_map"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Foto" icon-off="ion-camera" icon-on="ion-camera" href="#/chamadocadastro/tab_img">
    <ion-nav-view name="tab_img"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->


  <!-- Account Tab 
        <ion-tab title="Desc" icon-off="ion-paper-airplane" icon-on="ion-paper-airplane" href="#/chamadocadastro/tab_desc">
          <ion-nav-view name="tab_desc"></ion-nav-view>
        </ion-tab>
-->

</ion-tabs>